In [5]:
import pandas as pd

In [15]:
df=pd.read_csv("F:\Data Science Course\Harsh\car data.csv")

In [16]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [17]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [18]:
df.head(25)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0
10,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual,0
11,ciaz,2015,6.85,10.38,51000,Diesel,Dealer,Manual,0
12,ciaz,2015,7.50,9.94,15000,Petrol,Dealer,Automatic,0
13,ertiga,2015,6.10,7.71,26000,Petrol,Dealer,Manual,0
14,dzire,2009,2.25,7.21,77427,Petrol,Dealer,Manual,0
15,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
16,ertiga,2015,7.25,10.79,41678,Diesel,Dealer,Manual,0
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
18,wagon r,2015,3.25,5.09,35500,CNG,Dealer,Manual,0
19,sx4,2010,2.65,7.98,41442,Petrol,Dealer,Manual,0
20,alto k10,2016,2.85,3.95,25000,Petrol,Dealer,Manual,0
21,ignis,2017,4.90,5.71,2400,Petrol,Dealer,Manual,0
22,sx4,2011,4.40,8.01,50000,Petrol,Dealer,Automatic,0
23,alto k10,2014,2.50,3.46,45280,Petrol,Dealer,Manual,0
24,wagon r,2013,2.90,4.41,56879,Petrol,Dealer,Manual,0

In [20]:
df.tail(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
296,city,2016,9.50,11.6,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.9,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.0,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.5,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.9,5464,Petrol,Dealer,Manual,0

In [23]:
df=pd.read_csv("F:\Data Science Course\Harsh\car data.csv", nrows= 25)
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0
10,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual,0
11,ciaz,2015,6.85,10.38,51000,Diesel,Dealer,Manual,0
12,ciaz,2015,7.50,9.94,15000,Petrol,Dealer,Automatic,0
13,ertiga,2015,6.10,7.71,26000,Petrol,Dealer,Manual,0
14,dzire,2009,2.25,7.21,77427,Petrol,Dealer,Manual,0
15,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
16,ertiga,2015,7.25,10.79,41678,Diesel,Dealer,Manual,0
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
18,wagon r,2015,3.25,5.09,35500,CNG,Dealer,Manual,0
19,sx4,2010,2.65,7.98,41442,Petrol,Dealer,Manual,0
20,alto k10,2016,2.85,3.95,25000,Petrol,Dealer,Manual,0
21,ignis,2017,4.90,5.71,2400,Petrol,Dealer,Manual,0
22,sx4,2011,4.40,8.01,50000,Petrol,Dealer,Automatic,0
23,alto k10,2014,2.50,3.46,45280,Petrol,Dealer,Manual,0
24,wagon r,2013,2.90,4.41,56879,Petrol,Dealer,Manual,0

In [24]:
df=pd.read_csv("F:\Data Science Course\Harsh\car data.csv")
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [26]:
df.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [28]:
df['Car_Name']

0         ritz
1          sx4
2         ciaz
3      wagon r
4        swift
        ...
296       city
297       brio
298       city
299       city
300       brio
Name: Car_Name, Length: 301, dtype: object

In [29]:
list(df['Car_Name'])

['ritz',
 'sx4',
 'ciaz',
 'wagon r',
 'swift',
 'vitara brezza',
 'ciaz',
 's cross',
 'ciaz',
 'ciaz',
 'alto 800',
 'ciaz',
 'ciaz',
 'ertiga',
 'dzire',
 'ertiga',
 'ertiga',
 'ertiga',
 'wagon r',
 'sx4',
 'alto k10',
 'ignis',
 'sx4',
 'alto k10',
 'wagon r',
 'swift',
 'swift',
 'swift',
 'alto k10',
 'ciaz',
 'ritz',
 'ritz',
 'swift',
 'ertiga',
 'dzire',
 'sx4',
 'dzire',
 '800',
 'alto k10',
 'sx4',
 'baleno',
 'alto k10',
 'sx4',
 'dzire',
 'omni',
 'ciaz',
 'ritz',
 'wagon r',
 'ertiga',
 'ciaz',
 'fortuner',
 'fortuner',
 'innova',
 'fortuner',
 'innova',
 'corolla altis',
 'etios cross',
 'corolla altis',
 'etios g',
 'fortuner',
 'corolla altis',
 'etios cross',
 'fortuner',
 'fortuner',
 'fortuner',
 'etios liva',
 'innova',
 'fortuner',
 'corolla altis',
 'corolla altis',
 'etios liva',
 'corolla altis',
 'corolla altis',
 'etios liva',
 'etios cross',
 'etios g',
 'corolla altis',
 'corolla',
 'corolla altis',
 'fortuner',
 'corolla altis',
 'etios gd',
 'innova',
 'innova',
 'innova',
 'camry',
 'land cruiser',
 'corolla altis',
 'etios liva',
 'etios g',
 'corolla altis',
 'innova',
 'innova',
 'fortuner',
 'corolla altis',
 'corolla altis',
 'innova',
 'corolla altis',
 'corolla altis',
 'fortuner',
 'Royal Enfield Thunder 500',
 'UM Renegade Mojave',
 'KTM RC200',
 'Bajaj Dominar 400',
 'Royal Enfield Classic 350',
 'KTM RC390',
 'Hyosung GT250R',
 'Royal Enfield Thunder 350',
 'Royal Enfield Thunder 350',
 'Royal Enfield Classic 350',
 'KTM RC200',
 'Royal Enfield Thunder 350',
 'KTM 390 Duke ',
 'Mahindra Mojo XT300',
 'Royal Enfield Classic 350',
 'Royal Enfield Classic 350',
 'Royal Enfield Classic 350',
 'Royal Enfield Thunder 500',
 'Royal Enfield Classic 350',
 'Royal Enfield Thunder 500',
 'Bajaj Pulsar RS200',
 'Royal Enfield Thunder 350',
 'Royal Enfield Bullet 350',
 'Royal Enfield Classic 350',
 'Royal Enfield Classic 500',
 'Royal Enfield Classic 500',
 'Bajaj Avenger 220',
 'Bajaj Avenger 150',
 'Honda CB Hornet 160R',
 'Yamaha FZ S V 2.0',
 'Honda CB Hornet 160R',
 'Yamaha FZ 16',
 'Bajaj Avenger 220',
 'Bajaj Avenger 220',
 'TVS Apache RTR 160',
 'Bajaj Pulsar 150',
 'Honda CBR 150',
 'Hero Extreme',
 'Honda CB Hornet 160R',
 'Bajaj Avenger 220 dtsi',
 'Honda CBR 150',
 'Bajaj Avenger 150 street',
 'Yamaha FZ  v 2.0',
 'Yamaha FZ  v 2.0',
 'Bajaj Pulsar  NS 200',
 'TVS Apache RTR 160',
 'Hero Extreme',
 'Yamaha FZ S V 2.0',
 'Bajaj Pulsar 220 F',
 'Bajaj Pulsar 220 F',
 'TVS Apache RTR 180',
 'Hero Passion X pro',
 'Bajaj Pulsar NS 200',
 'Bajaj Pulsar NS 200',
 'Yamaha Fazer ',
 'Honda Activa 4G',
 'TVS Sport ',
 'Yamaha FZ S V 2.0',
 'Honda Dream Yuga ',
 'Honda Activa 4G',
 'Bajaj Avenger Street 220',
 'TVS Apache RTR 180',
 'Bajaj Pulsar NS 200',
 'Bajaj Avenger 220 dtsi',
 'Hero Splender iSmart',
 'Activa 3g',
 'Hero Passion Pro',
 'TVS Apache RTR 160',
 'Honda CB Trigger',
 'Hero Splender iSmart',
 'Yamaha FZ S ',
 'Hero Passion Pro',
 'Bajaj Pulsar 135 LS',
 'Activa 4g',
 'Honda CB Unicorn',
 'Hero Honda CBZ extreme',
 'Honda Karizma',
 'Honda Activa 125',
 'TVS Jupyter',
 'Honda Karizma',
 'Hero Honda Passion Pro',
 'Hero Splender Plus',
 'Honda CB Shine',
 'Bajaj Discover 100',
 'Bajaj Pulsar 150',
 'Suzuki Access 125',
 'TVS Wego',
 'Honda CB twister',
 'Hero Glamour',
 'Hero Super Splendor',
 'Bajaj Pulsar 150',
 'Bajaj Discover 125',
 'Hero Hunk',
 'Hero  Ignitor Disc',
 'Hero  CBZ Xtreme',
 'Bajaj  ct 100',
 'Activa 3g',
 'Honda CB twister',
 'Bajaj Discover 125',
 'Honda CB Shine',
 'Bajaj Pulsar 150',
 'i20',
 'grand i10',
 'i10',
 'eon',
 'grand i10',
 'xcent',
 'grand i10',
 'i20',
 'grand i10',
 'i10',
 'elantra',
 'creta',
 'i20',
 'grand i10',
 'verna',
 'eon',
 'eon',
 'verna',
 'verna',
 'eon',
 'i20',
 'i20',
 'verna',
 'verna',
 'i10',
 'grand i10',
 'i10',
 'verna',
 'i20',
 'verna',
 'verna',
 'elantra',
 'grand i10',
 'grand i10',
 'verna',
 'eon',
 'creta',
 'verna',
 'eon',
 'verna',
 'xcent',
 'xcent',
 'i20',
 'verna',
 'verna',
 'i20',
 'verna',
 'i10',
 'i20',
 'creta',
 'city',
 'brio',
 'city',
 'city',
 'brio',
 'city',
 'city',
 'city',
 'amaze',
 'city',
 'brio',
 'amaze',
 'jazz',
 'amaze',
 'jazz',
 'amaze',
 'city',
 'brio',
 'city',
 'city',
 'city',
 'city',
 'jazz',
 'brio',
 'city',
 'city',
 'city',
 'jazz',
 'city',
 'brio',
 'city',
 'city',
 'city',
 'brio',
 'jazz',
 'jazz',
 'amaze',
 'city',
 'city',
 'amaze',
 'brio',
 'jazz',
 'city',
 'amaze',
 'city',
 'city',
 'brio',
 'city',
 'city',
 'brio']

In [30]:
type(df['Car_Name'])

pandas.core.series.Series

In [31]:
type(df)

pandas.core.frame.DataFrame

In [33]:
df['Year'][5]

2018

In [35]:
df[['Present_Price']]

     Present_Price
0             5.59
1             9.54
2             9.85
3             4.15
4             6.87
..             ...
296          11.60
297           5.90
298          11.00
299          12.50
300           5.90

[301 rows x 1 columns]

In [36]:
print(type(df[['Car_Name']]))
print(type(df['Car_Name']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [37]:
df[['Car_Name','Present_Price','Kms_Driven']]

    Car_Name  Present_Price  Kms_Driven
0       ritz           5.59       27000
1        sx4           9.54       43000
2       ciaz           9.85        6900
3    wagon r           4.15        5200
4      swift           6.87       42450
..       ...            ...         ...
296     city          11.60       33988
297     brio           5.90       60000
298     city          11.00       87934
299     city          12.50        9000
300     brio           5.90        5464

[301 rows x 3 columns]

In [38]:
pd.read_csv("F:\Data Science Course\Harsh\car data.csv", nrows=20)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0
10,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual,0
11,ciaz,2015,6.85,10.38,51000,Diesel,Dealer,Manual,0
12,ciaz,2015,7.50,9.94,15000,Petrol,Dealer,Automatic,0
13,ertiga,2015,6.10,7.71,26000,Petrol,Dealer,Manual,0
14,dzire,2009,2.25,7.21,77427,Petrol,Dealer,Manual,0
15,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
16,ertiga,2015,7.25,10.79,41678,Diesel,Dealer,Manual,0
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
18,wagon r,2015,3.25,5.09,35500,CNG,Dealer,Manual,0
19,sx4,2010,2.65,7.98,41442,Petrol,Dealer,Manual,0

In [41]:
df=pd.read_csv("F:\Data Science Course\Harsh\car data.csv", nrows=5,header=None)
df

,0,1,2,3,4,5,6,7,8
0,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
1,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
2,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
3,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
4,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0

In [42]:
df[5]

0    Fuel_Type
1       Petrol
2       Diesel
3       Petrol
4       Petrol
Name: 5, dtype: object

In [44]:
c=pd.read_csv("F:\Data Science Course\Harsh\car data.csv", nrows=5,header=None,skiprows=5)
c

               0     1     2     3      4       5       6       7  8
0          swift  2014  4.60  6.87  42450  Diesel  Dealer  Manual  0
1  vitara brezza  2018  9.25  9.83   2071  Diesel  Dealer  Manual  0
2           ciaz  2015  6.75  8.12  18796  Petrol  Dealer  Manual  0
3        s cross  2015  6.50  8.61  33429  Diesel  Dealer  Manual  0
4           ciaz  2016  8.75  8.89  20273  Diesel  Dealer  Manual  0

In [57]:
c= pd.read_csv("F:\Data Science Course\Harsh\car data.csv", nrows=5, header=None, names=['h','a','r','s','d','u','b','e','y'])
c

,h,a,r,s,d,u,b,e,y
0,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
1,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
2,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
3,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
4,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0

In [60]:
df=pd.read_csv("F:\Data Science Course\Harsh\car data.csv", index_col=["Selling_Price"])
df

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
Selling_Price,,,,,,,,
3.35,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0
4.75,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0
7.25,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0
2.85,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0
4.60,swift,2014,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...
9.50,city,2016,11.60,33988,Diesel,Dealer,Manual,0
4.00,brio,2015,5.90,60000,Petrol,Dealer,Manual,0
3.35,city,2009,11.00,87934,Petrol,Dealer,Manual,0
11.50,city,2017,12.50,9000,Diesel,Dealer,Manual,0
5.30,brio,2016,5.90,5464,Petrol,Dealer,Manual,0